/* Loosely based on the Midnight Textmate theme */

.cm-s-joeson {
  background: #0a001f;
  color: #f8f8f8;
  font-family: 'Anonymous Pro', monospace;
}
.cm-s-joeson div.CodeMirror-selected { background: #4D465C !important; }
.cm-s-joeson .CodeMirror-gutter { background: #0a001f; border-right: 1px solid #8da6ce; }
.cm-s-joeson .CodeMirror-gutter-text { color: #8da6ce; }
.cm-s-joeson .CodeMirror-cursor { border-left: 1px solid white !important; }

/* colors defined in static/style, actually */

.outbox {
  margin: 0;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
}
.outbox-lines {
  margin-left: 2em;
  padding: .4em;
  white-space: pre;
}
.outbox-gutter {
  position: absolute; left: 0; top: 0;
  border-right: 1px solid #8da6ce;
  z-index: 10;
  width: 2em;
  height: 100%;
}
.outbox-gutter-text {
  text-align: right;
  padding: .4em .2em .4em .4em;
  white-space: pre;
  color: #8da6ce;
}
