body {
  /*background-color: #CECCD2;*/
  background: #0a001f;
  color: #f8f8f8;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

#header {
  margin-bottom: 5px;
}

span.comment { color: #6900a1; }
span.atom { color: #845dc4; }
span.number, span.attribute { color: #ffd500; }
span.keyword, label.keyword { color: #599eff; }
span.string { color: #37f14a; }
span.meta { color: #7678e2; }
span.variable-2, span.tag { color: #99b2ff; }
span.variable-3, span.def { color: white; }
span.error { color: #9d1e15; }
span.bracket { color: #8da6ce; }
span.comment { color: #6900a1; }
span.builtin, span.special { color: #ff9e59; }
span.link { color: #845dc4; }

/* formatting */
.item {
  margin-right: 0.5em;
}
.array, .object {
  border: 1px solid white;
  padding: 0.5em;
}
.highlight {
  border: 1px solid yellow !important;
}
