body {
  /*background-color: #CECCD2;*/
  /*background-color: #0a001f;*/
  background-color: white;
  /*color: #f8f8f8;*/
  color: black;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

#header {
  background-color: white;
  margin-bottom: 5px;
  padding: 5px;
  text-align: right;
}

#main {
  overflow-y: auto;
}

#input_editor {
  margin-bottom: 1em;
}

/* these are in static/codemirror.css
.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: visible;
  height: auto;
  position: relative;
  outline: none;
}
.CodeMirror-scrollbar {
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: -1px;
}
*/

#footer {
  background-color: #0a001f !important; /* hack around UILayout defaults */
}

#log {
}

span.cm-comment,    span.comment    { color: #668ee2; }
span.cm-atom,       span.atom       { color: #F59BF0; }
span.cm-number,     span.number     { color: #F59BF0; }
span.cm-attribute,  span.attribute  { color: #8da6ce; }
span.cm-keyword,    span.keyword    { color: #ffd500; }
span.cm-string,     span.string     { color: black; }
span.cm-meta,       span.meta       { color: #7678e2; }
span.cm-tag,        span.tag        { color: #99b2ff; }
span.cm-variable,   span.variable   { color: black; }
span.cm-variable-2, span.variable-2 { color: black; }
span.cm-variable-3, span.variable-3 { color: black; }
span.def                            { color: black; }
span.cm-error,      span.error      { color: #e6312a; }
span.cm-bracket,    span.bracket    { color: #8da6ce; }
span.cm-builtin,    span.builtin    { color: #ff9e59; }
span.cm-special,    span.special    { color: #00cccc; }
span.cm-link,       span.link, a    { color: #F59BF0; }
span.cm-punctuation, span.punctuation { color: #8da6ce; }
span.cm-operator,   span.operator   { color: #00cccc; }

/* formatting */
.highlight {
  background-color: #2A395B !important;
}
.debug {
  /* display: none; /* debug */
  opacity: 0.4;
  margin: 0 1em;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
textarea {
  background: transparent;
  color: #f8f8f8;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

div.object {
  min-height: 1em;
}
div.array {
  min-height: 1em;
}
div.object > div.item {
  position: relative;
  min-height: 1em; /* blank strings */
  padding-left: 7em;
}
div.array > div.item {
  position: relative;
  min-height: 1em; /* blank strings */
  padding-left: 2em;

  border-bottom: 1px dotted #515B7E;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
div.array > div.item:first-child {
  margin-top: 5px;
}
div.array > div.item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
div.object > div.item > span.key {
  position: absolute;
  left: 0px;
}
div.object > div.item > span.value {
}
div.hideKeys > div.item {
  padding-left: 0;
}
div.hideKeys > div.item > span.key {
  display: none;
}
span.string {
  white-space: pre;
}

div.editor {
  min-height: 1em;
}
