body {
  /*background-color: #CECCD2;*/
  /*background-color: #0a001f;*/
  background-color: white;
  /*color: #f8f8f8;*/
  color: black;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px; }

a {
  text-decoration: underline;
  cursor: pointer;
  color: #551A8B; }

#header {
  background-color: white;
  margin-bottom: 5px;
  padding: 5px;
  text-align: right; }

#main {
  overflow-y: auto; }
  #main #screen {
    margin-left: 1em; }

#input_editor {
  margin-bottom: 1em; }

/* these are in static/codemirror.css
.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: visible;
  height: auto;
  position: relative;
  outline: none;
}
.CodeMirror-scrollbar {
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: -1px;
}
*/
#log {
  background-color: #0a001f !important;
  /* hack around UILayout defaults */
  color: white;
  padding: 1em; }

/* formatting */
.highlight {
  background-color: #2A395B !important; }

.debug {
  /* display: none; /* debug */
  opacity: 0.4;
  margin: 0 1em; }

.right {
  float: right; }

.clear {
  clear: both; }

textarea {
  background: transparent;
  color: #f8f8f8;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px; }

div.object {
  min-height: 1em; }
  div.object > div.item:first-child {
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px; }
  div.object > div.item {
    position: relative;
    min-height: 1em;
    /* blank strings */
    padding-top: 4px;
    border-top: 1px dotted #8da6ce;
    margin-top: 4px; }
    div.object > div.item > span.key {
      min-width: 6em;
      vertical-align: top; }
    div.object > div.item > * {
      display: inline-block; }

div.array > div.item > span.key {
  min-width: 2em; }

div.hideKeys > div.item > span.key {
  display: none; }

span.string {
  white-space: pre; }

div.editor {
  min-height: 1em;
  min-width: 20em; }

/* EDITOR */
/* Loosely based on the Midnight Textmate theme */
.cm-s-sembly {
  /*background: #0a001f;*/
  /*color: #f8f8f8;*/
  font-family: 'Anonymous Pro', monospace;
  border-radius: 4px;
  border: 1px solid #8da6ce;
  margin: 4px; }
  .cm-s-sembly div.CodeMirror-selected {
    /*background: #4D465C !important;*/ }
  .cm-s-sembly .CodeMirror-gutter {
    /*background: #0a001f;*/
    background: transparent;
    border-right: 1px solid #8da6ce; }
  .cm-s-sembly .CodeMirror-gutter-text {
    color: #8da6ce; }
  .cm-s-sembly .CodeMirror-cursor {
    border-left: 1px solid black !important; }

/**
 * Link to the project's GitHub page:
 * https://github.com/pickhardt/coffeescript-codemirror-mode
 */
span.cm-coffee-delimiter {
  color: #8da6ce; }

span.cm-coffee-special {
  color: #e3bd27; }

span.cm-coffee-error {
  background-color: #660000;
  color: #FFFFFF; }

span.cm-coffee-keyword,
span.cm-coffee-operator {
  color: #770088; }

span.cm-coffee-number,
span.cm-coffee-literal {
  color: #002EE0; }

span.cm-coffee-constant {
  color: #44AAFF; }

span.cm-coffee-identifier {
  color: black; }

span.cm-coffee-thisprop {
  color: #3090AA; }

span.cm-coffee-comment {
  color: #668ee2; }

span.cm-coffee-string,
span.cm-coffee-bytes,
span.cm-coffee-raw,
span.cm-coffee-unicode {
  color: #228811; }

span.comment {
  color: #668ee2; }

span.atom {
  color: #F59BF0; }

span.number {
  color: #002EE0; }

span.attribute {
  color: #3090AA; }

span.keyword {
  color: #ffd500; }

span.string {
  color: black; }

span.meta {
  color: #7678e2; }

span.tag {
  color: #99b2ff; }

span.variable {
  color: black; }

span.variable-2 {
  color: black; }

span.variable-3 {
  color: black; }

span.def {
  color: black; }

span.error {
  color: #e6312a; }

span.bracket {
  color: #8da6ce; }

span.builtin {
  color: #ff9e59; }

span.special {
  color: #00cccc; }

span.link {
  color: #551A8B; }

span.punctuation {
  color: #8da6ce; }

span.operator {
  color: #00cccc; }
